{% extends 'base.html.twig' %}

{% block title %}Dahbor - Location Voiture{% endblock %}

{% block body %}
    <div class="container">
        <div class="content-wrapper">
            <h2>Description de l'application Dahbor - Location Voiture</h2>
            <p>Dahbor est une application innovante et complète dédiée à la gestion de la location de voitures. Elle permet aux utilisateurs de gérer efficacement les véhicules disponibles à la location, leurs marques, ainsi que les clients et les réservations. Que vous soyez un gestionnaire de flotte de voitures ou un particulier souhaitant louer un véhicule, notre application offre une interface simple et intuitive pour répondre à tous vos besoins.</p>

            <h3>Fonctionnalités principales :</h3>
            <ul>
                <li><strong>Gestion des Voitures</strong> : Ajoutez, modifiez et supprimez des voitures dans la base de données. Chaque véhicule est associé à des informations détaillées telles que sa marque, son modèle, sa disponibilité, et ses caractéristiques techniques.</li>
                <li><strong>Gestion des Marques</strong> : Associez chaque voiture à une marque spécifique. Cela vous permet de mieux organiser votre flotte et d'offrir une vue claire de la diversité des véhicules disponibles à la location.</li>
                <li><strong>Gestion des Clients</strong> : Enregistrez et gérez les informations des clients, y compris leurs coordonnées, historique de location, et statut. Cela vous permet de suivre les relations clients et de personnaliser les services offerts.</li>
                <li><strong>Gestion des Locations</strong> : Suivez les réservations de voitures par les clients, avec des informations sur les dates de location, le véhicule réservé et le client qui a effectué la réservation. L'application vous permet également de gérer les paiements et les états de location.</li>
                <li><strong>Suivi des Voitures et Disponibilité</strong> : En temps réel, vous pouvez consulter l'état de disponibilité de chaque voiture dans la flotte. Cela vous permet de mieux organiser les réservations et d'éviter les conflits de dates.</li>
                <li><strong>Interface Simple et Intuitive</strong> : Conçue pour être accessible à tous, l'application offre une interface moderne et conviviale pour une gestion fluide et rapide des voitures, clients et locations.</li>
            </ul>

            <p>Avec Dahbor, la gestion de votre activité de location de voitures devient plus facile, plus rapide et plus organisée. Optimisez votre gestion, améliorez l'expérience de vos clients et boostez l'efficacité de votre entreprise avec notre solution tout-en-un.</p>
        </div>
    </div>
{% endblock %}
