{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <div class="page-container">

        <br>
        <br>
        <br>
        <h1 class="table-title">Edit location</h1>

        <a href="{{ path('app_location_index') }}" class="add-link">Retour à la liste</a>


        <div class="form-container">
            {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}
        </div>


{% endblock %}
