{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
      <div class="page-container">
        <br>
        <br>
        <br>
        <h1 class="table-title">Créer nouveau location</h1>

        <a href="{{ path('app_client_index') }}" class="add-link">Retour à la liste</a>

        <div class="form-container">

            {{ include('location/_form.html.twig') }}
        </div>
        </div>
{% endblock %}
