{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <div class="page-container">
        <br>
        <br>
        <br>
        <h1 class="table-title">Créer un nouveau Client</h1>

        <a href="{{ path('app_client_index') }}" class="add-link">Retour à la liste</a>

        <div class="form-container">
            {{ include('client/_form.html.twig') }}
        </div>

    </div>
{% endblock %}
